.header-nav {
  padding-top: 35px;
  padding-bottom: 30px;
}
.header-logo {
  margin-left: 140px;
}
.header-logo img {
  width: 160px;
  height: 45px;
}
.header-login {
  float: right;
  margin-right: 50px;
}
.bg-img {
  background-image: url(./image/bannerbackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fcf4e0;
}
.header-footer-area{
  margin: 0 auto;
  padding-top: 13%;
  padding-bottom: 13%;
}
.Header-footer-form{
  text-align: center;
}
.header-footer-btn {
  border-radius: 20px !important;
}
.footer-top-card-container{
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-container{
  background-color: black;
  color: white;
  padding-left: 140px !important;
  padding-top: 50px;
  padding-bottom: 50px;
  
}
.footer-logo img{
  width: 160px;
  height: 45px;
}
.footer-top-right ul li{
  list-style: none;
}
.footer-bottom{
  padding-top: 50px;
}
.footer-bootom-right{
  float: right;
  padding-right: 50px;
}
.footer-bootom-right ul{
  display: inline;
}
.footer-bootom-right ul li{
  display: inline-block;
  margin-right: 30px;
}

